.landing-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 62px;
  text-decoration: underline red;
}

.content {
  width: 75%;
}