.article-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid grey; */
  /* top: 50%;
  left: 50%; */
  /* border: 1px dotted grey; */
}